<div class="row animated fadeIn text-center">
    <div class="col-md-3">
        <app-tacometro></app-tacometro>
    </div>
    <div class="col-md-4">
        <h2> Eventos </h2>
        <hr>
        <canvas id="eventosGastoCandidatos"> {{ eventosGastoCandidatos }} </canvas>
        <canvas id="eventosEstado" class="espacio"> {{ eventosEstado }} </canvas>
        <canvas id="eventosGastoEstado" class="espacio"> {{ eventosGastoEstado }} </canvas>
    </div>
    <div class="col-md-4">
        <h2> Tierra </h2>
        <hr>
        <canvas id="tierraGastoCandidatos"> {{ tierraGastoCandidatos }} </canvas>
    </div>
</div>