<div class="row animated fadeIn text-center">
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <h2> Eventos </h2>
        <hr>
        <canvas id="eventos"> {{ eventos }} </canvas>
        <canvas id="conteoEventos" class="espacio"> {{ conteoEventos }} </canvas>
    </div>
    <div class="col-md-4">
        <h2> Tierra </h2>
        <hr>
        <canvas id="tierra"> {{ tierra }} </canvas>
        <canvas id="categoriaTierra" class="espacio"> {{ categoriaTierra }} </canvas>
    </div>
</div>