<div>
    <div class="fixed-top" *ngIf="_authService.isAuthenticated()">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand texto-imagen" routerLinkActive="active" [routerLink]=" ['home'] "><img src="assets/logo-integra.png" height="70px"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link texto" [routerLink]=" ['PRI'] "> PRI </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link texto" [routerLink]=" ['PAN'] "> PAN </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link texto" [routerLink]=" ['MORENA'] "> MORENA </a>
                    </li>

                </ul>
                <span class="selec">
                    <select class="custom-select" >
                        <option value="todos"selected>Todos</option>
                        <option value="1">Presidente</option>
                        <option value="2">Senador</option>
                        <option value="3">Diputado Federal</option>
                        <option value="3">Gobernador</option>
                        <option value="3">Alcalde</option>
                    </select>
                </span>
                <span class="selec">
                    <select class="custom-select" >
                        <option value="todos"selected>Circunscripcion</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </span>
                <span>
                    <button class="btn btn-dark" (click)="logout()">Logoout</button>
                </span>
            </div>
        </nav>
    </div>
    <div class="row main" *ngIf="!_authService.isAuthenticated()">
        <div class="col-md-12 text-center">
            <button class="btn btn-dark" (click)="login()">Login</button>
        </div>
    </div>
</div>