<div>
    <div class="fixed-top" *ngIf="_authService.isAuthenticated()">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand texto-imagen" routerLinkActive="active" [routerLink]=" ['home'] "><img src="assets/logo-integra.png" height="70px"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link texto" [routerLink]=" ['PRI'] "> PRI </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link texto" [routerLink]=" ['PAN'] "> PAN </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link texto" [routerLink]=" ['MORENA'] "> MORENA </a>
                    </li>

                </ul>

                <span class="selec" (change)="setQuien($event.target.value)">
                    <select class="custom-select" >
                        <option value="">Todos</option>
                        <option value="presidente">Presidente</option>
                        <option value="senador">Senador</option>
                        <option value="diputadoFed">Diputado Federal</option>
                        <option value="gobernador">Gobernador</option>
                        <option value="alcalde">Alcalde</option>
                    </select>
                </span>
                <span class="selec" (change)="setCircunscripcion($event.target.value)">
                    <select class="custom-select" >
                        <option value="">Circunscripcion</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </span>
                <span class="selec">
                    <label class="text-white"> fecha inicio <input (change)="setFecha1($event.target.value)" type="date" ></label>
                    <label class="text-white"> fecha termino <input (change)="setFecha2($event.target.value)" type="date" ></label>
                </span>
                <span class="selec">
                    <button class="btn btn-light" (click)="reload()">Filtrar</button>
                </span>
                <span>
                    <button class="btn btn-dark" (click)="logout()">Logoout</button>
                </span>
            </div>
        </nav>
    </div>
    <div class="row main" *ngIf="!_authService.isAuthenticated()">
        <div class="col-md-12 text-center">
            <button class="btn btn-dark" (click)="login()">Login</button>
        </div>
    </div>
</div>