<div class="row">
    <div class="col-md-8"> </div>
    <div class="col-md-4">
        <img src="https://us.123rf.com/450wm/egudinka/egudinka1612/egudinka161200024/67628832-escala-de-colores-con-la-flecha-de-rojo-a-verde-y-la-escala-de-las-emociones-el-icono-del-dispositiv.jpg?ver=6" height="70px" width="70px">
        <img src="https://us.123rf.com/450wm/egudinka/egudinka1612/egudinka161200024/67628832-escala-de-colores-con-la-flecha-de-rojo-a-verde-y-la-escala-de-las-emociones-el-icono-del-dispositiv.jpg?ver=6" height="70px" width="70px">
        <img src="https://us.123rf.com/450wm/egudinka/egudinka1612/egudinka161200024/67628832-escala-de-colores-con-la-flecha-de-rojo-a-verde-y-la-escala-de-las-emociones-el-icono-del-dispositiv.jpg?ver=6" height="70px" width="70px">
    </div>
</div>