/* You can add global styles to this file, and also import other style files */

.main {
    margin-top: 60px;
}

.navbar-jony {
    background-color: #212529 !important;
    padding-block-start: 15px;
}

#chartPRI {
    color: black;
    width: 100%;
    height: 500px;
    position: absolute !important;
}